@import 'variable';

.headline {
    margin-top: 100px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 15px;
}


.timer-container {
    width: 70%;
    margin: 0 auto;

    user-select: none;

    cursor: default;

    .timer {
        .timer__clock {
            display: flex;

            perspective: 100px;

            .timer__digit {
                position: relative;

                width: 45px;
                height: 80px;

                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

                .timer__card {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 50%;
                    transform-style: preserve-3d;
                    transform-origin: bottom;
                    transform: rotateX(0);
                    transition: transform 0.7s ease-in-out;

                    .timer__card-face {
                        position: absolute;
                      
                        display: flex;
                        justify-content: center;
                      
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                      
                        -webkit-backface-visibility: hidden;
                        -moz-backface-visibility: hidden;
                        backface-visibility: hidden;
                      }

                      .timer__card-face-front {
                        align-items: flex-end;
                      }
                      
                      .timer__card-face-back {
                        align-items: flex-start;
                      
                        -webkit-transform: rotateX(-180deg);
                        -moz-transform: rotateX(-180deg);
                        transform: rotateX(-180deg);
                      }
                  }
            }

            .timer__digit::before,
            .timer__digit::after {
                position: absolute;
                z-index: 0;

                display: flex;
                justify-content: center;

                width: 100%;
                height: 50%;
                overflow: hidden;
            }
            .timer__digit::before {
                content: attr(data-digit-before);
              
                bottom: 0;
                align-items: flex-start;
              }
              
              .timer__digit::after {
                content: attr(data-digit-after);
              
                top: 0;
                align-items: flex-end;
              }
        }



    }
}








.digit,
.digit::before,
.digit::after,
.card,
.card-face {
  border-radius: 4px;
}

.timer__digit::before,
.timer__card-face-back {
  background: linear-gradient(0, #aaa, #ccc 50%, #fafafa);
  color: #212121;

  border-top: 1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.timer__digit::after,
.timer__card-face-front {
  background: linear-gradient(0, #aaa, #bbb 50%, #f5f5f5);
  color: #212121;

  border-bottom: 1px solid black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.timer__digit-left,
.timer__digit-left::before,
.timer__digit-left::after,
.timer__digit-left .timer__card,
.timer__digit-left .timer__timer__card-face {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.timer__digit-right,
.timer__digit-right::before,
.timer__digit-right::after,
.timer__digit-right .timer__card,
.timer__digit-right .timer__card-face {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.colon {
  color: black;
  margin: 0 6px;
  padding-bottom: 9px;
}
