@import 'variable';
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Red Hat Text', sans-serif;
    font-size: var(--fontSize);
    // background-color: linear-gradient(0, var(--Softred), var(--darkblue));
    background-color: var(--darkblue);
    background-image: url(/images/bg-stars.svg);
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}


@import 'main';
@import 'timer';
@import 'footer';